<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Headlines</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<div class="container">

  <ul class="collapsible">
{{#each dbArticle}}
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{title}}</div>
      <div class="collapsible-body left-align">
        <div class="row">
          <div class="col s3">
        <img src="{{image}}">
          </div>
        <span class="col s9 left-align">{{summary}}</span>
        <a class="waves-effect waves-teal btn-flat" href="{{link}}">GO TO ARTICLE</a>
        <a class="waves-effect waves-teal btn-flat" href="/articles/{{id}}">GO TO COMMENTS</a>
        </div>
        </div>
    </li>
    {{/each}}
  </ul>

</div>


